<div class="row filter-form-container">
  <div
    class="col-1 d-flex justify-content-center align-items-center filter-form-label"
  >
    FILTER :
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col">
        <div>
          <select name="order" class="form-select" [formControl]="order">
            <option value="1">Latest</option>
            <option value="2">Oldest</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div>
          <input
            name="date"
            type="date"
            class="form-control"
            [formControl]="date"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!articles.length; else articlesBlock" class="row">
  <div
    class="d-flex text-center align-middle justify-content-center align-items-center"
  >
    No record(s) found.
  </div>
</div>
<ng-template #articlesBlock>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="text-center thead-style">
        <tr>
          <th class="w-50">TITLE</th>
          <th class="w-50">PUBLISHED DATE</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          class="cursor-pointer"
          *ngFor="let article of articles"
          (click)="showCommentsModal(article.id)"
        >
          <td>{{ article.title }}</td>
          <td>{{ article.publish_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ngb-pagination
  *ngIf="collectionSize > 10"
  class="d-flex justify-content-center"
  [collectionSize]="collectionSize"
  [(page)]="page"
  [maxSize]="9"
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true"
  (pageChange)="onPageChange()"
>
  <ng-template ngbPaginationFirst>&laquo;</ng-template>
  <ng-template ngbPaginationPrevious>&lsaquo;</ng-template>
  <ng-template ngbPaginationNext>&rsaquo;</ng-template>
  <ng-template ngbPaginationLast>&raquo;</ng-template>
</ngb-pagination>

<!-- Comments Modal -->
<div
  id="comments-modal"
  class="modal fade"
  aria-hidden="true"
  aria-labelledby="comments-modal-label"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header-custom modal-header">
        <div
          id="comments-modal-label"
          class="w-100 d-flex justify-content-center modal-title h4"
        >
          {{ article ? article.title : "" }}
        </div>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <img
              class="img-fluid"
              src="/assets/images/main/default-article.png"
              alt="Default Article"
            />
          </div>
          <div class="col-9">
            <div>
              <div class="mb-3 article-content">
                <textarea
                  rows="5"
                  name="content"
                  disabled="disabled"
                  class="form-control"
                  >{{ article ? article.content : "" }}</textarea
                >
              </div>
            </div>
            <div class="article-date">
              <span>Date:</span> {{ article ? article.published_date : "" }}
            </div>
            <div class="article-reporter">
              <span>Reporter:</span> {{ article ? article.reporter_name : "" }}
            </div>
          </div>
        </div>
        <div *ngIf="!comments.length; else commentsBlock" class="row">
          <div
            class="d-flex text-center align-middle justify-content-center align-items-center"
          >
            No record(s) found.
          </div>
        </div>
        <ng-template #commentsBlock>
          <div class="row mb-2 comment-section">
            <div
              #comments
              class="row comment-row"
              *ngFor="let comment of comments"
            >
              <div class="col-4">
                <div class="row comment-owner-detail">
                  <div class="col-3">
                    <img
                      class="img-fluid"
                      src="/assets/images/main/default-profile-comment.png"
                      alt="Default Profile"
                    />
                  </div>
                  <div class="col-9">
                    <div class="comment-date">
                      <span>Date : </span>{{ comment.created_at }}
                    </div>
                    <div class="comment-owner">
                      {{ comment.first_name }} {{ comment.last_name }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-8 comment-content-container">
                <div class="comment-content">{{ comment.content }}</div>
                <span class="btn-report">
                  <a
                    class="btn btn-link"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Remove Comment"
                    (click)="showRemoveCommentModal(comment.id)"
                  >
                    <img
                      src="/assets/icons/exclamation-octagon-fill.svg"
                      alt="Remove Comment"
                    /> </a
                ></span>
              </div>
            </div>
          </div>
        </ng-template>
        <ngb-pagination
          *ngIf="commentsCollectionSize > 10"
          class="d-flex justify-content-center"
          [collectionSize]="commentsCollectionSize"
          [(page)]="commentPage"
          [maxSize]="9"
          [rotate]="true"
          [ellipses]="false"
          [boundaryLinks]="true"
          (pageChange)="onCommentsPageChange()"
        >
          <ng-template ngbPaginationFirst>&laquo;</ng-template>
          <ng-template ngbPaginationPrevious>&lsaquo;</ng-template>
          <ng-template ngbPaginationNext>&rsaquo;</ng-template>
          <ng-template ngbPaginationLast>&raquo;</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

<!-- Remove Comment Modal -->
<div
  id="remove-comment-modal"
  class="modal fade"
  aria-hidden="true"
  aria-labelledby="remove-comment-modal-label"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <div
          id="remove-comment-modal-label"
          class="w-100 d-flex justify-content-center modal-title h4"
        >
          COMMENT REMOVAL AND MAIL
        </div>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          novalidate
          class="form-main"
          [formGroup]="removeCommentForm"
          (ngSubmit)="handleRemoveComment()"
        >
          <div class="mb-3">
            <label class="form-label" for="formGroupMail">Mail</label>
            <textarea
              rows="4"
              name="content"
              placeholder="Mail"
              id="formGroupMail"
              class="form-control"
              [class.is-invalid]="rcFormErrors.content"
              formControlName="content"
            >
            </textarea>
            <div class="invalid-feedback">{{ rcFormErrors.content }}</div>
          </div>
          <div class="d-grid">
            <button
              type="submit"
              class="btn-custom-color btn btn-outline-danger"
            >
              SEND
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
